/* .quarto-title-block .quarto-title-banner {
    background-image: url(noaa-fisheries-logo.png);
    background-size: 10%;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-origin: content-box;
  } */

@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

.opal-brand {
  color: var(--opal-blue);
  font-family: "Anta", sans-serif;
  font-weight: 400;
}
